html {
	background-color: #c0f5c5;
}

body {
	background-color: #fff;
	margin: 20px auto;
	width: 600px;
	padding: 30px;
	border-radius: 20px;
}

.image {
	text-align: center;
}

fieldset {
	border-color: #008000;
	border-style: solid;
	border-radius: 20px;
	width: 500px;
	margin: auto;
}

input {
	border-radius: 20px;
}